:host {
    display: flex;
    gap: 0.3em;
    font-size: 24px;
  }
  
  input {
    aspect-ratio: 3/4;
    width: 2em;
    text-align: center;
    border-radius: 4px;
    font-size: inherit;
    border: 0.1em solid #aaa;
  }
  
  input:focus {
    outline: 0;
    border-color: skyblue;
    box-shadow: 0 0 0 0.1em skyblue;
  }
  
  input:disabled {
    border-color: #eee;
  }
  